.App{
    width: 100vw;
    height:100vh;
}
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: white;
    font-family: "Roboto", sans-serif;

}

.header {
    padding: 1vh;
    background: #011627;
    display: flex;
    /* Align to the right */
    width: 100%;

  }
  
  .pages {
    display: flex;
    justify-content: space-between; /* Distribute links with space between them */
    width: 30%;
    margin-right: 10vh; /* To align to the right */
 
  }
  


  
.websiteName{
    cursor:pointer;
    flex:1;
    padding-left: 5%;
    margin-top: 1vh;
    font-size:4vh;
    font-family: "Roboto", sans-serif;
    color:aliceblue;
}


 .header svg {
    height: 100%;
 }


.sidenav{
    width: 240px;
    position: absolute;
    height : 95vh;
    background: #011627;
padding :0 30px;
transition : all 1s;
left:-100%;
}
.sidenav.active{
    left:0;
}
ul{
    padding :0;
}
ul li {
    list-style-type: none;
    margin: 10px 0;

}

ul li a{
    color :whitesmoke;
    text-decoration: none;
    font-size:16px;
    display:block;
    padding :10px 15px;
    padding-right: 0px;
    border-radius: 10px;
    width: 100%;
    
}
 .title{
    left: 10%;;
    justify-content: center;
    align-items: center;
    display:flex;
    width: fit-content;
 }
.brain{
    width:10%;
}

ul li a:hover {
    background: #172b4d;
    border-radius: 20px;
    box-shadow: 0 0 11px white; }

 ul li a:active{
    background :#172b4d;
 }

 .logout{
    bottom :20px;

 }

 .header h1{
    flex:1;
    padding-left: 5%;
    margin-top: 2%;
 }
 .header{
    max-height: 10vh;
    align-items: center;
    display:flex;
 }

 .main{
     height: 90vh;
     display:flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     color: #011627;

 }